#scoreboard {
	width: 300px;
}

#gameboard {
	background-color: #14bdac;
	padding: 10px;
	width: 300px;
}

#restartgame {
	background-color: #F1EDEC;
	width: 300px;
	color: grey;
	font-size: .85rem;
	margin-top: 10px;
}

#restartgame:hover {
	color: #14bdac;
	font-weight: bold;
}

#restartgame:active {
	/*This creates a nice stretch effect*/
	font-size: 1.2rem;
}

span {
	text-align: center;
}

.crosses {
	stroke: rgb(84, 84, 84);
    stroke-dasharray: 135.764;
    stroke-dashoffset: 0;
	fill: none;
	stroke-width: 8px;
}

.noughts {
	stroke: rgb(242, 235, 211);
    stroke-dasharray: 301.635;
    stroke-dashoffset: 0;
	fill: none;
	stroke-width: 8px;
}

#scoreboard td {
	height: 32px;
	width: 96px;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-right: 24px;
	padding-left: 24px;
	/*border: none;*/
}

#gameboard table {
	margin-bottom: 0px;
}

#gameboard td {
   height: 96px;
   width: 96px;
}

.table td {
	/*
		This is for overriding the default styles of bootstrap where its showing a default top line 
		which i do not need in this case.
	*/
	border-top-width: 0px;
	/*This is for removing the "hand" icon that we get for a button.*/
	cursor: default;
	/*This is for removing the active/cursor box highlighter when a cell is clicked. it looked yuck*/
	outline: none;
}
.c_row_2 {
	border-left: 0px;
	border-right: 0px;
	border-top: solid 4px;
	border-bottom: solid 4px;
	border-color: grey;
    border-width: 4px;
}

.c_col_2 {
	border-left: solid 4px;
	border-right: solid 4px;
	border-top: 0px;
	border-bottom: 0px;
	border-color: grey;
    border-width: 4px;
}

#score-x {
	background-color: #F1EDEC;
	/*border-width: 0px;*/
}

.focus-score-x {
	box-shadow: 0px 1px 1px;
	border-color: #14bdac;
	border-right-width: 0px;
	border-top-width: 0px;
	border-left-width: 2px;
	border-bottom-width: 2px;
}

#score-o {
	background-color: #F1EDEC;
	/*border-width: 0px;*/
}

.focus-score-o {
	box-shadow: 0px 1px 1px;
	border-color: #14bdac;
	border-right-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 2px;
}