hr {
    background-color: rgba(255,255,255,.5);
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 50%;
    align-self: left;
    line-height: 1;

}

#how_to_play {
	cursor: pointer;
	color: rgba(255,255,255,.5);
	padding-right: 1.5rem;
    padding-left: 0rem;
    display: block;
    touch-action: manipulation;
    background-color: transparent;
    font-size: 95%;
    /*this is to avoid that blue color outline around the box when clicked. it did not got fixed with outline*/
    box-shadow: none;
}

#how_to_play:hover {
		color: rgba(255,255,255,.75);
}

#my_brand {
    font-family: 'Caveat', cursive;
    width: 50px;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    color: yellow;
    text-align: center;
    font-size: 100%;
    margin-right: .5rem;
    line-height: 1.3;
}

#scoreboard {
	width: 300px;
}

#gameboard {
	background-color: #14BEE9;
	padding: 10px;
	width: 300px;
}

#restartgame {
	background-color: #F1EDEC;
	width: 300px;
	color: grey;
	font-size: .85rem;
	margin-top: 10px;
}

/*this is creating a new blown-up animation*/
#restartgame:hover {
	color: #14BEE9;
	font-weight: bold;
}

#restartgame:active {
	/*This creates a nice stretch effect*/
	font-size: 1.2rem;
}

span {
	text-align: center;
}

/*this is for drawing the 'X' of svg class*/
.crosses {
	stroke: rgb(84, 84, 84);
	fill: none;
	stroke-width: 8px;
}

/*this is for drawing the 'O' of svg class*/
.noughts {
	stroke: rgb(242, 235, 211);
	fill: none;
	stroke-width: 8px;
}

/* get the writing feeling for svg */
@keyframes svg-write-ani {
	to {
    stroke-dashoffset: 0;
  }
}

path {
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: svg-write-ani 1.5s linear forwards;
}

/*
    this is to make sure the '/' part of 'X' doesn't start the same time as '\'
    doing this gives a nice 'writing' feeling
*/
path:nth-of-type(2n) {
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: svg-write-ani 1.5s linear .3s forwards;
}

/* get the fade feeling for svg when the cells are in the non-winning zone */
@keyframes svg-fade-ani {
    0%   {opacity: 1  ; transform: scale(1);}
    25%  {opacity: .75; transform: scale(.7);}
    50%  {opacity: .50; transform: scale(.5);}
    75%  {opacity: .25; transform: scale(.3);}
    100% {opacity: 0  ; transform: scale(0);}
}

.lost-cells-gameover {
	stroke-dasharray: 100;
  	stroke-dashoffset: 0;
  	animation: svg-fade-ani 2.5s linear 1.5s forwards;
}

/*get the zigzag moving combo for the winning cells*/
@keyframes svg-zigzag-ani {
  to {
    stroke-dashoffset: 1000;
  }
}

.win-cells-gameover {
	stroke-dasharray: 100;
  	stroke-dashoffset: 0;
    animation-name: svg-zigzag-ani;
    animation-duration: 1.5s;
    animation-timing-function: linear;
 /*
    this is needed as we need to give time for the cells to be written before we fade them
	or else the winning cell writing will be overlapped with the winning animation
*/
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#scoreboard td {
	height: 32px;
	width: 120px;
	padding-bottom: 1px;
	/*padding-top is made 5px as a hack to bring the score to center. vertical-align: did not work*/
	padding-top: 5px; 
	padding-right: 3px;
	padding-left: 3px;
	vertical-align: middle;
    text-align: center;

	/*border: none;*/
}

#gameboard table {
	margin-bottom: 0px;
}

#gameboard td {
   height: 96px;
   width: 96px;
}

.table td {
	/*
		This is for overriding the default styles of bootstrap where its showing a default top line 
		which i do not need in this case.
	*/
	border-top-width: 0px;
	/*This is for removing the "hand" icon that we get for a button.*/
	cursor: default;
	/*This is for removing the active/cursor box highlighter when a cell is clicked. it looked yuck*/
	/*please visit http://www.outlinenone.com/ */
	outline: none;
}
.c_row_2 {
	border-left: 0px;
	border-right: 0px;
	border-top: solid 4px;
	border-bottom: solid 4px;
	border-color: grey;
    border-width: 4px;
}

.c_col_2 {
	border-left: solid 4px;
	border-right: solid 4px;
	border-top: 0px;
	border-bottom: 0px;
	border-color: grey;
    border-width: 4px;
}

#score-x {
	background-color: #F1EDEC;
	font-size: .90rem;
	/*border-width: 0px;*/
}

.focus-score-x {
	box-shadow: 0px 1px 1px;
	border-color: #14BEE9;
	border-right-width: 0px;
	border-top-width: 0px;
	border-left-width: 2px;
	border-bottom-width: 2px;
}

#score-o {
	background-color: #F1EDEC;
	font-size: .90rem;
	/*border-width: 0px;*/
}

.focus-score-o {
	box-shadow: 0px 1px 1px;
	border-color: #14BEE9;
	border-right-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 2px;
}

@keyframes rotater {
	0%   { transform: scale(0)   ; opacity: 0;  }
	20%  { transform: scale(.20) ; opacity: .2; }
	30%  { transform: scale(.30) ; opacity: .3; }
	40%  { transform: scale(.40) ; opacity: .4; }
	50%  { transform: scale(.50) ; opacity: .5; }
	60%  { transform: scale(.60) ; opacity: .6; }
	70%  { transform: scale(.70) ; opacity: .7; }
	80%  { transform: scale(.80) ; opacity: .8; }
	90%  { transform: scale(.90) ; opacity: .9; }
	100% { transform: scale(1)   ;  opacity: 1; }
/*
	0% { transform:rotate(0) scale(1) }
	50% { transform:rotate(360deg) scale(2) }
	100% { transform:rotate(720deg) scale(1) }*/
}

#x-won, #o-won, #tie {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 280px;
	height: 305px;
	background-color: #14BEE9;
	text-align: justify;
	vertical-align: middle;
	font-size: 250%;
	font-weight: bold;
	color: #545454;

	animation-name:rotater; 
	animation-duration:1s; 
	animation-iteration-count:1; 
	animation-timing-function: linear;
}

/*
    because of 2 svg's this is not taking up well.
	i should have used relative positioning, but just too tired right now.
*/
#tie {
	padding-top: 70px;
	padding-left: 40px;
	padding-right: 20px;
}

#gameboard span {
	position: absolute;
	left: 65px;
	top: 220px;
}


#strike_row, #strike_col, #strike_diag {
	display: none;
	position: absolute;
}

/*this override is because we want the line to be drawn slower than the X and O marks*/
#strike_row path, #strike_col path, #strike_diag_1 path, #strike_diag path {
	animation: svg-write-ani 3s linear forwards;
}

/*this is good*/
.strike_row_1 {
	top: -80px;
	left: 0px;
}

/*this is good*/
.strike_row_2 {
	top: 20px;
	left: 0px;
}

/*this is good*/
.strike_row_3 {
	top: 122px;
	left: 0px;
}

/*this is good*/
.strike_col_1 {
	top: 20px;
	left: -94px;
}

/*this is good*/
.strike_col_2 {
	top: 20px;
	left: 0px;
}

/*this is good*/
.strike_col_3 {
	top: 20px;
	left: 94px;
}

.strike_diag_1 {
	top: 0px;
	left: -22px;
	transform: rotate(2deg);
}

.strike_diag_2 {
	top: 5px;
	left: 11px;
	transform: rotate(88deg);
}